<ion-view title="EvenementsInfo" id="page5">
  <ion-content padding="true" class="has-header">
    <h2 id="evenementsInfo-heading2" style="color:#FFFFFF;">Vrijdag</h2>
    <div class="spacer" style="width: 300px; height: 52px;"></div>
    <div class="list card" id="evenementsInfo-card21">
      <ion-item class="assertive" id="evenementsInfo-list-item16">20:00h </ion-item>
      <div class=" item item-image">
        <img src="img/torch1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left assertive" id="evenementsInfo-list-item17">
        <i class="icon ion-android-arrow-dropright"></i>Fakkeltocht</ion-item>
      <div id="evenementsInfo-markdown4" style="text-align:center;">
        <p style="color:#000000;">Info over de fakkeltocht</p>
      </div>
    </div>
    <div class="list card" id="evenementsInfo-card24">
      <ion-item class="assertive" id="evenementsInfo-list-item22">22:00h </ion-item>
      <div class=" item item-image">
        <img src="img/concert1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left assertive" id="evenementsInfo-list-item23">
        <i class="icon ion-android-arrow-dropright"></i>Live Concert</ion-item>
      <div id="evenementsInfo-markdown5">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <h2 id="evenementsInfo-heading3" style="color:#FFFFFF;">Zaterdag</h2>
    <div class="list card" id="evenementsInfo-card25">
      <ion-item class="assertive" id="evenementsInfo-list-item26">20:00h </ion-item>
      <div class=" item item-image">
        <img src="img/dj1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left assertive" id="evenementsInfo-list-item27">
        <i class="icon ion-android-arrow-dropright"></i>DJ Optreden</ion-item>
      <div id="evenementsInfo-markdown6">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
