<ion-view title="Home" id="page1" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
        <img src="img/dJNZgpANT6GQlNrALHTd_logo2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="menu.berichten" id="home-button3" style="border-radius:0px 0px 0px 0px;" class="button button-dark  button-block icon-left ion-android-textsms">Berichten</a>
      <a ui-sref="menu.evenementsInfo" id="home-button2" class="button button-dark  button-block icon-left ion-android-apps"> Evenements Info</a>
      <a ui-sref="menu.zaklamp" id="home-button4" class="button button-dark  button-block icon-left ion-flash"> Flashlight</a>
      <a ui-sref="menu.locatie" id="home-button5" class="button button-dark  button-block icon-left ion-map"> Map</a>
      <a ui-sref="menu.fotoS" id="home-button6" class="button button-dark  button-block icon-left ion-android-camera"> Picture</a>
      <a ui-sref="menu.delen" id="home-button7" class="button button-dark  button-block icon-left ion-android-share-alt">Share</a>
  </ion-content>
</ion-view>
