<ion-view title="Registreren" id="page12">
  <ion-content padding="true" class="has-header">
    <label class="item item-input" id="berichten-input5">
      <span class="input-label"><i class="icon ion-person placeholder-icon"></i></span>
      <input type="text"  ng-model="data.username"  placeholder="username">
    </label>
    <label class="item item-input" id="berichten-input5">
      <span class="input-label"><i class="icon ion-locked placeholder-icon"></i></span>
      <input type="text"  ng-model="data.password"  placeholder="password">
    </label>
    <label class="item item-input" id="berichten-input5">
      <span class="input-label"><i class="icon ion-locked placeholder-icon"></i></span>
      <input type="text"  ng-model="data.passwordconfirm"  placeholder="Confirm password">
    </label>
    <a class="button button-assertive button-block button-outline" ng-click="registreren()">Registreren</a>

  </ion-content>
</ion-view>
